In [7]:
import pandas as pd

from datasets import load_dataset

In [11]:
gsm_df = pd.DataFrame(load_dataset("openai/gsm8k", "main")["test"])
print(f"Loaded {len(gsm_df)} rows for GSM8k")

gsm_symbolic_df = pd.DataFrame(load_dataset("apple/GSM-Symbolic", "main")["test"])
print(f"Loaded {len(gsm_symbolic_df)} rows for GSM-Symbolic")

gsm_df.head(1)

Loaded 1319 rows for GSM8k
Loaded 5000 rows for GSM-Symbolic

,question,answer
0,Janet’s ducks lay 16 eggs per day. She eats th...,Janet sells 16 - 3 - 4 = <<16-3-4=9>>9 duck eg...

In [10]:
gsm_df = gsm_symbolic_df[gsm_symbolic_df["instance"] == 0]
print(f"Filtered to {len(gsm_df)} rows for GSM-Symbolic")
gsm_df.head(1)

Filtered to 100 rows for GSM-Symbolic

,id,instance,question,answer,original_id,original_question,original_answer,canary
0,0,0,Rania saw a 210-foot whale with 7 72-inch remo...,"First, find the combined length of the remoras...",473,Benny saw a 10-foot shark with 2 6-inch remora...,"First, find the combined length of the remoras...",This document should not appear in training co...

In [13]:
gsm_symbolic_questions = set(gsm_symbolic_df["original_question"])

filtered_gsm_df = gsm_df[gsm_df["question"].isin(gsm_symbolic_questions)]
print(f"Filtered to {len(filtered_gsm_df)} rows for GSM8k")
filtered_gsm_df.head(1)

Filtered to 100 rows for GSM8k

,question,answer
11,Toula went to the bakery and bought various ty...,The total charge for the doughnuts was 3 x $68...

In [ ]:
# Save the filtered GSM8k dataset

In [16]:
df = pd.read_csv("../datasets/original/gsm8k_matched_gsm_symbolic.csv")
df.head(1)

,problem_id,problem,reasoning,solution
0,0,Toula went to the bakery and bought various ty...,The total charge for the doughnuts was 3 x $68...,694