In [5]:
import pandas as pd
from datasets import load_dataset
import os

In [6]:
os.getcwd()

'/home/sam/code/cohere/cohere-reasoning-v5/gsm8k/downloaders'

In [16]:
df = pd.read_csv("../datasets/original/gsm-symbolic.csv")
df.head(2)

   problem_id                                            problem  answer
0           0  Toula went to the bakery and bought various ty...     694
1           1  I have 10 liters of orange drink that are two-...      15

In [ ]:
df["problem_id"] = range(len(df))
df = df.rename(columns={"answer": "solution"})
df = df[["problem_id", "problem", "solution", "subject", "level"]]

df.to_csv(...)